* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2% auto;
}

main button {
    height: 25px;
    width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
}